<div class="calculator">
    <input type="text" id="display" [(ngModel)]="displayValue" disabled>
    <div class="buttons">
      <button class="operator" (click)="addToDisplay('+')">+</button>
      <button class="operator" (click)="addToDisplay('-')">-</button>
      <button class="operator" (click)="addToDisplay('*')">*</button>
      <button class="operator" (click)="addToDisplay('/')">/</button>
      <button (click)="addToDisplay('7')">7</button>
      <button (click)="addToDisplay('8')">8</button>
      <button (click)="addToDisplay('9')">9</button>
      <button (click)="addToDisplay('4')">4</button>
      <button (click)="addToDisplay('5')">5</button>
      <button (click)="addToDisplay('6')">6</button>
      <button (click)="addToDisplay('1')">1</button>
      <button (click)="addToDisplay('2')">2</button>
      <button (click)="addToDisplay('3')">3</button>
      <button class="zero" (click)="addToDisplay('0')">0</button>
      <button class="decimal" (click)="addToDisplay('.')">.</button>
      <button class="equals" (click)="calculate()">=</button>
      <button class="clear" (click)="clearDisplay()">C</button>
    </div>
  </div>
  